@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h4>Contact details:</h4>

<address>
    Library<br />
    Redania<br />
    <abbr title="Phone">P:</abbr>
    000.000.000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kzuromski@outlook.com">kzuromski@outlook.com</a><br />
</address>
