@model IEnumerable<CRUD.Models.LibraryViewModels.BorrowDateGroup>

    @{
        ViewData["Title"] = "Borrows statistics";
    }

    <h2>Borrows statistics</h2>

    <table class="table">
        <tr>
            <th>
                Borrow Date
            </th>
            <th>
                Readers
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @item.ReaderCount
                </td>
            </tr>
        }
    </table>
